<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crop_img_plugin_flutter" >

    <application>
        <activity
            android:name=".ExternalUICallActivity"
            android:exported="false"
            android:label="@string/title_activity_external_uicall"
            android:theme="@style/Theme.Android" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>